@model IEnumerable<DFTrivia.Models.Round>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rounds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rounds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoundID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoundID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoundID })
        </td>
    </tr>
}

</table>
